<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p>helllloooo</p>
<% if !user_signed_in?  %>
  <h1>Welcome to MyLibrary</h1>
  <br /><br />
  <%= link_to 'Sign In', new_user_session_path %>
<% end %>
