<div class="row-fluid">
	<div class="span4 blue">
	</div>
	<div class="span4 orange">
	</div>
	<div class="span4 blue">
	</div>
	<div class="span4 orange">
	</div>
</div>
<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<<<<<<< HEAD
<p>helllloooo</p>
<% if !user_signed_in?  %>
  <h1>Welcome to MyLibrary</h1>
  <br /><br />
  <%= link_to 'Sign In', new_user_session_path %>
<% end %>
=======
<a href ='/st_users/sign_in'> Sign In <a>
>>>>>>> 4803b531aa060b3884b63a0991acdae4d7d5a6a1
