// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-fluid-top {
	padding: 0;
	margin-bottom: 0;
	margin-left: 10%;
	margin-right: 10%;
	/*margin-left: 135px;
	margin-right: 135px;*/

}

.navbar-fluid-top,
.navbar-inner{
	background: #4B5150;
	border: 0;
	margin-left: 11%;
	margin-right: 11%;
}

.navbar a:link{
	color: #FFF;
}

.nav li{
	color: #FFF;
}
a:link{
	color: #FFFFFF;
	text-decoration: none;
	outline: 0;
}
a:hover,a:focus{color:#005580;text-decoration:underline;}